/* styles.css */

body {
  background-color: #fff8dc;
}

h1 {
  color: #ff0000;
  text-align: center;
}

#search-input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

#search-button {
  width: 10%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#results-container {
  display: flex;
  flex-direction: row;
}

#search-results {
  width: 50%;
}

#selected-anime {
  width: 50%;
  text-align: center;
}

#search-results ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#search-results li {
  display: flex;
  align-items: center;
}

#search-results h2 {
  margin-right: 10px;
  cursor: pointer;
}

#search-results h2:hover {
  color: #0000ff;
}

#search-results img {
  width: 100px;
  height: 150px;
}

#selected-anime img {
  width: 250px;
  height: 375px;
}
